:root {
    --black: rgb(25, 25, 25);
    --verde_ele: rgb(0, 220, 0);
    --verde_c: rgba(180, 202, 67, 30%);
    --verde_o: rgba(138, 181, 76, 40%);
    --azul: rgb(13, 16, 66);
    --grey: rgb(89, 89, 89);
    --gris_claro: rgb(154, 154, 154);
    --blanco: rgb(220, 220, 220);
    --blanco_a: rgba(154, 154, 154, 0.3);
    --celeste: rgb(59, 89, 152);
    --white: rgb(255, 255, 255);
    --gris: #cbcfd3;
    /* Gradient / Desgradado */
    --sexy_blue: #1e839c, #81ddf1;
    --purple_love: #cc2b5e, #753a88;
    --shades_grey: #bdc3c7, #2c3e50;
    --lost_memory: #db4242, #ffb88c;
    --pinky: #dd5e89, #f7bb97;
    --lush: #30770f, #b7e77c;
    --kashmir: #614385, #516395;
    --frost: #080f53, #0f6bbd;
    --virgin_america: #7b4397, #dc2430;
    --endless_river: #43cea2, #185a9d;
    --dusk: #ffd89b, #19547b;
    --skin: #534666, #CD7672;
    --forest: #138086, #534666;
    --perla: #FFFFFF, #2C6975;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    text-align: center;
    text-align: center;
}

img {
    width: 100%;
}

hr {
    width: 95%;
    border: 1px solid var(--gris);
    margin: 20px auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
}

.cont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: rgba(255, 255, 255, 80%);
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;

    text-align: center;

    color: var(--celeste);
}

.subtitulo {
    border: 1px solid var(--verde_ele);
    padding: 20px;
    border-radius: 10px;
}

/* Contenedor */

.section {
    margin: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section .principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.sec1 .art {
    display: flex;
    flex-flow: column nowrap;
    /* border: 2px solid green; */
    padding: 30px 20px;
}

.art picture {
    background-color: var(--verde_c);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-self: center;
    width: 60px;
    height: 60px;
    /* border: 2px solid blue; */
}

.art h2 {
    margin: 10px 0;
}

.sec2 {
    display: flex;
    flex-flow: column nowrap;
}

.sec2 #art2 {
    display: flex;
    flex-flow: column nowrap;
}

#art2 picture {
    margin: 20px 0;
}

#art2 picture,
.sec1 .art {
    min-width: 50%;
}

/*Tablet*/
@media (min-width: 580px) {
    .cont {
        background-color: white;
        width: 80%;
        margin-top: 40px;
        margin: auto;
        border-radius: 25px;
    }

    body {
        background: linear-gradient(150deg, #02cc3f, #064c74);
        height: 160vh;
    }

    .section .principal {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .principal .art {
        /* max-width: 500px; */
        /* flex: 0 0 0; */
        /* width: 100px; */
        flex: 1 1 200px;
        /* min-width: 200px; */
        /* border: 1px solid rgb(30, 224, 30); */
    }

    .sec2 #art2{
        flex-flow: row wrap;
    }

    #art2 picture{
        flex: 1 1 300px;
        justify-content: center;
        align-self: center;
    }

    #art2 .texto{
        flex: 1 1 400px;
        padding: 15px;
    }

}